.social-bookmarks {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.social-bookmarks,
.social-bookmarks th,
.social-bookmarks td {
    margin: 0;
    padding: 0;
}

.space-socialbookmarks {
    width: 100%;
}

.bookmarkContainer {
	margin-bottom:20px; 
}

.bookmarkContainer .author { 
	font-size:9pt;
}

.bookmarkContainer .spaceName { 
	font-size:9pt;
}

.bookmarkContainer .viewLink { 
	font-size:9pt; 
}

.bookmarkContainer .actionLinks { 
	margin:0px 10px; 
	color:#666666; 
	white-space:nowrap; 
}

.bookmarkContainer .title {
	 font-weight:bold; 
	 font-size:16px; 
	 line-height:120%; 
	 color:#003366; 
	 text-decoration:none;
}

.bookmarkContainer .actionLink {
    font-size:11px;  
}

.bookmarkContainer .wiki-content .description {
    margin:5px 0px; 
	padding:0px; 
}

.bookmarklet { 
	border: 1px solid #999999; 
	margin: 0px auto; 
	padding: 15px 0px; 
	width: 350px; 
	background-color: #f6f6f6; 
	text-align: center; 
}

div.mark { 
	margin:10px; 
	padding:10px 30px 10px 10px;
	background-color:#f6f6f6; 
	border:1px solid #999999;
    overflow:hidden;
}

div.mark table {
	margin: 0px;
}

div.mark td.bookmarkIconCell {
	width: 42px;
}

div.mark img.bookmarkIcon {
	height: 50px; 
	width: 50px;
	margin-top: 10px;
}

.bookmarkListContainer {
	padding-left:26px; 
}

.bookmarkListTitle { 
	padding-left:26px; 
	font-size:12pt; 
	margin-bottom:15px; 
	margin-top:20px; 
}

.bookmarkListTitle h2 {
	background-color: transparent; 
	display: inline; 
	margin: 0px; 
	padding: 0px; 
	border-width: 0px;
}

.bookmarkListTitle a.rssLink img {
	margin-top: 1px; 
	float: right;
	border : 0px;
}

.bookmarkListTitle a.addFavLink img {
	margin: 1px 5px 0 0 ; 
	float: right; 
	border-width: 0px;
}

.bookmarkListTitle img.addFavIcon {
	vertical-align: text-bottom; 
	float: left; 
	margin-left: -26px; 
	height: 16px; 
	width: 16px; 
	border-width: 0px;
}

#description_tab {
	margin: 10px; 
	line-height: 120%;
}

#space_tab {
	margin:10px; 
	line-height:120%;
}

#space_tab .spaceSelect {
	margin:4px 0px;
}

.social-bookmark-link {
    float: right;
}
.social-bookmark-link img {
    vertical-align:text-bottom;
    margin-top:1px;
}

#labels_info {
    margin-left: 10px;
    margin-right: 10px;
}

.bookmarktable {
	width: 100%;
}

.bookmark-labels-input {
    width: 100%;
}